<div class="container">
    <div class="page-header">
        <h1>GitHub Users:</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="user in vm.users">
            <a class="thumbnail" ng-href="{{user.html_url}}">
                <img class="img-responsive" ng-src="{{user.avatar_url}}" alt="{{user.login}}">
            </a>
        </div>
    </div>
</div>