<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Angular SPA</span>
        </div>

        <div class="collapse navbar-collapse" collapse="menuCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="app.home.index"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a></li>
                <li ui-sref-active="active" access-level="ADMIN"><a ui-sref="app.home.github_users"><i class="fa fa-github"></i> GitHub Users</a></li>
                <li ui-sref-active="active" access-level="USER"><a ui-sref="app.home.about"><i class="fa fa-info-circle"></i> About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li access-level="ANON"><a ui-sref="app.security.login">Login</a></li>
                <li access-level="USER"><a href="" ng-controller="LogoutController as vm" ng-click="vm.logout()">Logout</a></li>
            </ul>

            <p access-level="USER" class="navbar-text navbar-right" welcome></p>
        </div>
    </div>
</nav>