<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-login {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-login .form-login-heading,
    .form-login .checkbox {
        margin-bottom: 10px;
    }
    .form-login .checkbox {
        font-weight: normal;
    }
    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-login .form-control:focus {
        z-index: 2;
    }
    .form-login input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-login input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<div class="container">
    <form class="form-login" name="formLogin" novalidate="novalidate" ng-submit="vm.login()">
        <alert ng-if="vm.error" type="danger" close="vm.error = ''">{{vm.error}}</alert>
        <h2 class="form-login-heading">Please log in</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required
               autofocus ng-model="vm.user.username">

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required
                ng-model="vm.user.password">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" ng-model="vm.user.rememberMe"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="formLogin.$invalid">
            Log in
        </button>
    </form>
</div>