<div class="container">
    <div class="page-header">
        <h1>Page not found.</h1>
    </div>
    <p class="lead">The page your are looking for might have benn removed,
        had its name changed, or is temporary unavailable.</p>
    <p>HTTP 404 - File not found</p>
</div>