<div class="container">
    <div class="page-header">
        <h1>Oops! Internal Server Error.</h1>
    </div>
    <p class="lead">The server encountered an internal error or misconfiguration and was unable to complete your request</p>
    <p>Please contact the server administrator and inform them of the time the error occurred,
        and anything you might have done that may have caused error.</p>
</div>